<div class="container aligner">
  <div class="row row-eq-height">
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top mx-auto d-block" src="../../../assets/bars.svg" alt="cardimage cap">
        <div class="card-body">
          <!--TODO replace stub-->
          <h4 class="card-title">Тест 1 «название теста»</h4>
          <p class="card-text">Some quick example text to build on the cardtitle and make up the bulk of the card's
            content.</p>
          <a routerLink="/test1" class="btn btn-primary">Пройти тест</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top mx-auto d-block" src="../../../assets/coin.png" alt="cardimage cap">
        <div class="card-body">
          <!--TODO replace stub-->
          <h4 class="card-title">Тест 2 «название теста»</h4>
          <p class="card-text">Some quick example text to build on the cardtitle and make up the bulk of the card's
            content.</p>
          <a routerLink="/test2" class="btn btn-primary">Пройти тест</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top mx-auto d-block" src="../../../assets/bank.svg" alt="cardimage cap">
        <div class="card-body">
          <!--TODO replace stub-->
          <h4 class="card-title">Тест 3 «название теста»</h4>
          <p class="card-text">Some quick example text to build on the cardtitle and make up the bulk of the card's
            content.</p>
          <a routerLink="/test3" class="btn btn-primary">Пройти тест</a>
        </div>
      </div>
    </div>
  </div>
</div>
