@import url('https://fonts.googleapis.com/css?family=Courgette');

.shadow {
  -webkit-filter: drop-shadow( 2px 2px 5px #3c3c3c);
  filter: drop-shadow( 2px 2px 5px #3c3c3c);
}

.brand-name {
  font-family: 'Courgette', cursive;
}

.navbar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
