<div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-start">
    <a class="navbar-brand" routerLink="/">
      <img alt="Brand" src="assets/brand.svg" width="35" class="shadow">
      <i class="brand-name">fin-app</i>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto w-100 justify-content-start">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Тесты</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/test1" routerLinkActive="active">Тест 1</a>
            <a class="dropdown-item" routerLink="/test2" routerLinkActive="active">Тест 2</a>
            <a class="dropdown-item" routerLink="/test3" routerLinkActive="active">Тест 3</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item d-flex mx-auto w-100 justify-content-end">
          <a class="nav-link" routerLink="/about">О нас</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
